BasedOnStyle: GNU
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseExpressionOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: false
BreakAfterReturnType: All
BreakFunctionDefinitionParameters: false
ContinuationIndentWidth: 2
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentWidth: 2